<div class="container">
<h1>Look at all these stiff cock...tails</h1>
<div class="card">
<% @cocktails.each do |cock| %>
  <ul><%=link_to cock.name, cocktail_path(cock) %>
  </ul>
<% end %>
</div>
</div>
